<form *ngIf="formModel">
    <div class="row d-flex align-items-end">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4 required">Nama</label>
                <div class="col-md-8">
                    <input [(ngModel)]="formModel.nama" type="text" name="nama" class="form-control" placeholder="Nama Pengguna">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 required">Email</label>
                <div class="col-md-8">
                    <input [(ngModel)]="formModel.email" type="email" name="email" class="form-control" placeholder="Email Pengguna">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">Password</label>
                <div class="col-md-8">
                    <input [(ngModel)]="formModel.password" type="password" name="password" class="form-control" placeholder="Password">
                    <small class="form-text text-muted">Kosongi password jika tidak diubah</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row d-flex justify-content-center">
                <img src="{{ formModel.fotoUrl }}" class="rounded-circle img-thumb" alt="...">
            </div>
            <div class="form-group row">
                <label class="col-md-4">Foto</label>
                <div class="col-md-8">
                    <input type="file" name="foto" class="file-upload" placeholder="Foto Pengguna" (change)="onSelectedImage($event)">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">Hak Akses</label>
                <div class="col-md-8">
                    <span>{{ formModel.akses.nama }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-12 text-right">
                    <!-- <button type="button" class="btn btn-outline-secondary mr-2" (click)="back()">Daftar Item</button> -->
                    <button type="button" class="btn btn-primary" (click)="save()">Simpan</button>
                </div>
            </div>
        </div>
    </div>
</form>